@import url(sanitize.css);

body {
    margin-top: 90px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: rgb(101, 53, 53);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

a {
    text-decoration: none;
}

.logo{
    position: absolute;
    top: 9%;
    right: 0;
    left: 0;
    margin: 0 0;
    text-align: center;
}

.logo span a {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    letter-spacing: 5px;
}

h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

.div_buy {
    margin: auto 0;
    position: absolute;
    top: 35%;
    left: 94%;
}

.buy {
    color: #ffffff;
    font-size: 18px;
    border: #ffffff solid 1px;
    padding: 7px;
    letter-spacing: 2px;
}

.main_img {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.main_img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.main_img p {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 80%;
    letter-spacing: 5px;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

.features {
    background-color: #f2f2f2;
    height: 760px;
}

h2 {
    font-size: 30px;
    letter-spacing: 10px;
    margin: 0px;
    padding: 60px;
    text-align: center;
    color: rgb(101, 53, 53);
}

.features_contener {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0 18%;
}

.features img {
    height: 380px;
    width: 280px;
    object-fit: cover;
}

.features_items ul {
    background-color: rgb(101, 53, 53);
    width: 280px;
    height: 120px;
    padding: 30px;
}

.features_items li {
    color: #ffffff;
    margin: 5px;
    list-style: none;
}

.catchphrase {
    height: 200px;
}

.catchphrase p{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    color: rgb(101, 53, 53);
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.catchphrase span {
    margin-left: 60%;
    color: rgb(139, 115, 115);
    margin-bottom: 20px;
    font-size: 12px;
}

.main_merchandise {
    background-color:  rgb(101, 53, 53);
}

.main_merchandise_content {
    display: flex;
    margin: 0 auto;
    width: 900px;
}

.main_merchandise img {
    width: 450px;
    height: 550px;
    object-fit: cover;
    margin-right: 55px;
}

.main_merchandise_left {
    width: 500px;
    color: #ffffff;
    margin: auto 0;
}


.main_merchandise_left h3 {
    font-size: 35px;
    margin: 0;
    letter-spacing: 4px;
}

.main_merchandise_left .name {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.main_merchandise_left .type {
    margin-top: 5px;
    border: 1px solid #ffffff;
    padding: 8px;
    letter-spacing: 2px;
    font-size: 20px;
}

.main_merchandise_left p {
    margin-top: 60px;
}

.cautionary_note_white {
    margin-right: 10px;
    font-size: 12px;
}

.merchandise {
    background-color: #f2f2f2;
    height: 1000px;
}

.merchandise_items {
    display: flex;
    padding-top: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 900px;
}

.merchandise_item {
    display: flex;
    border: rgb(101, 53, 53) solid 0.5px;
    outline: rgb(101, 53, 53) solid 1px;
    outline-offset: 4px;
    width: 400px;
    padding: 20px 40px;
    margin-right: 25px;
    margin-left: 25px;
}

.merchandise_item img {
    width: 100px;
}

.merchandise_item_text {
    color: rgb(101, 53, 53);
    height: 40px;
    margin: auto 10px;
}

.merchandise_name {
    font-weight: bold;
    font-size: 18px;
}

.merchandise_item_text p {
    margin: 0;
    
}

.merchandise_buy {
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    background-color: rgb(101, 53, 53);
    padding: 7px;
    letter-spacing: 2px;
    margin: auto 0px;
    margin-left: 70px;
}

.cautionary_note_red {
    margin-left: 71%;
    color: rgb(101, 53, 53);
    font-size: 15px;
}

.limited_items {
    width: 1000px;
    margin: 0 auto;
}

.limited_items_title {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    color: #ffffff;
    background-color: rgb(101, 53, 53);
    font-size: 27px;
    width: 190px;
    padding: 5px 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.limited_item_1 {
    display: flex;
    margin-top: 30px;
}

.limited_item_1 img {
    width: 400px;
    height: 450px;
    object-fit: cover;
}

.limited_item_1_left {
    background-color: #ffffff;
    height: 450px;
    width: 600px;
}