@import url(sanitize.css);

body {
    margin-top: 90px;
}

/* ヘッダー */

header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: rgb(101, 53, 53);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

a {
    text-decoration: none;
}

.logo{
    position: absolute;
    top: 9%;
    right: 0;
    left: 0;
    margin: 0 0;
    text-align: center;
}

.logo span a {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    letter-spacing: 5px;
}

h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

.div_buy {
    margin: auto 0;
    position: absolute;
    top: 35%;
    left: 94%;
}

.buy {
    color: #ffffff;
    font-size: 18px;
    border: #ffffff solid 1px;
    padding: 7px;
    letter-spacing: 2px;
}

/* main_img */

.main_img {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.main_img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.main_img p {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 80%;
    letter-spacing: 5px;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

/* features */

.features {
    background-color: #f2f2f2;
    height: 760px;
}

h2 {
    font-size: 30px;
    letter-spacing: 10px;
    margin: 0px;
    padding: 60px;
    text-align: center;
    color: rgb(101, 53, 53);
}

.features_contener {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0 18%;
}

.features img {
    height: 380px;
    width: 280px;
    object-fit: cover;
}

.features_items ul {
    background-color: rgb(101, 53, 53);
    width: 280px;
    height: 120px;
    padding: 30px;
}

.features_items li {
    color: #ffffff;
    margin: 5px;
    list-style: none;
}

/* catchphrase */

.catchphrase {
    height: 200px;
}

.catchphrase p{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    color: rgb(101, 53, 53);
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.catchphrase span {
    margin-left: 60%;
    color: rgb(139, 115, 115);
    margin-bottom: 20px;
    font-size: 12px;
}

/* main_merchandise */

.main_merchandise {
    background-color:  rgb(101, 53, 53);
}

.main_merchandise_content {
    display: flex;
    margin: 0 auto;
    width: 900px;
}

.main_merchandise img {
    width: 450px;
    height: 550px;
    object-fit: cover;
    margin-right: 55px;
}

.main_merchandise_left {
    width: 500px;
    color: #ffffff;
    margin: auto 0;
}


.main_merchandise_left h3 {
    font-size: 35px;
    margin: 0;
    letter-spacing: 4px;
}

.main_merchandise_left .name {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.main_merchandise_left .type {
    margin-top: 5px;
    border: 1px solid #ffffff;
    padding: 8px;
    letter-spacing: 2px;
    font-size: 20px;
}

.main_merchandise_left p {
    margin-top: 60px;
}

.cautionary_note_white {
    margin-right: 10px;
    font-size: 12px;
}

/* merchandise */

.merchandise {
    background-color: #f2f2f2;
    height: 1870px;
}

.merchandise_items {
    display: flex;
    padding-top: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 900px;
}

.merchandise_item {
    display: flex;
    border: rgb(101, 53, 53) solid 0.5px;
    outline: rgb(101, 53, 53) solid 1px;
    outline-offset: 4px;
    width: 400px;
    padding: 20px 40px;
    margin-right: 25px;
    margin-left: 25px;
}

.merchandise_item img {
    width: 100px;
}

.merchandise_item_text {
    color: rgb(101, 53, 53);
    height: 40px;
    margin: auto 10px;
}

.merchandise_name {
    font-weight: bold;
    font-size: 18px;
}

.merchandise_item_text p {
    margin: 0;
    
}

.merchandise_buy {
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    background-color: rgb(101, 53, 53);
    padding: 7px;
    letter-spacing: 2px;
    margin: auto 0px;
    margin-left: 70px;
}

.cautionary_note_red {
    margin-left: 71%;
    color: rgb(101, 53, 53);
    font-size: 15px;
}

/* limited_items  */

.limited_items {
    width: 1000px;
    margin: 0 auto;
}

.limited_items_title {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    color: #ffffff;
    background-color: rgb(101, 53, 53);
    font-size: 27px;
    width: 190px;
    padding: 5px 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.limited_item_1 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    
}

.limited_item_1_img {
    width: 400px;
    height: 450px;
    object-fit: cover;
}

.limited_item_1_right {
    background-color: #ffffff;
    padding-left: 40px;
    padding-top: 30px;
    height: 450px;
    width: 600px;
}

.limited_item_1_right_text {
    font-size: 14px;
    margin-bottom: 0;
    color: rgb(101, 53, 53);
    letter-spacing: 2px;
}

.limited_item_1_right_text_2 {
    margin-top: 0;
    font-size: 20px;
    color: #000;
}

.limited_item_1_right_impact {
    color: rgb(101, 53, 53);
    background-color: #d8d3d3;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.limited_item_1_detail {
    display: flex;
    margin-top: 40px;
}

.limited_item_1_detail span {
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(101, 53, 53);
    line-height: 40px;
    height: 40px;
    width: 40px;
}

.limited_item_1_detail img {
    width: 100px;
    object-fit: contain;
    margin-left: 10px;
    margin-top: 20px;
}

.limited_item_1_detail_text {
    margin-left: 60px;
    color: rgb(101, 53, 53);;
    width: 230px;
}

.limited_item_1_detail_text h4 {
    margin: 0;
    font-size: 17px;
}

.limited_item_1_detail_text p {
    margin-top: 0;
}

.limited_item_1_right ul {
    display: flex;
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.limited_item_1_right li {
    list-style: none;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    background-color: #979393;
    font-size: 12px;
    width: 300px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 1px;
}

.limited_item_1_right a {
    color: #fff;
}

.limited_item_right_memo {
    font-size: 10px;
    margin-top: 20px;
    color: rgb(101, 53, 53);
}

.limited_item_2 {
    display: flex;
}

.limited_item_2_img {
    width: 400px;
    height: 650px;
    object-fit: cover;
}

.limited_item_2_right {
    background-color: #ffffff;
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 40px;
    height: 650px;
    width: 600px;
}

.limited_item_2_right_text_1 {
    font-size: 20px;
    color: #000;
}

.limited_item_2_right_text {
    font-size: 14px;
    color: rgb(101, 53, 53);
    letter-spacing: 2px;
}

.limited_item_2_detail {
    display: flex;
    margin-top: 40px;
}

.limited_item_2_detail span {
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(101, 53, 53);
    line-height: 40px;
    height: 40px;
    width: 40px;
}

.limited_item_2_detail img {
    width: 150px;
    object-fit: contain;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 140px;
}

.limited_item_2_right ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.limited_item_2_right li {
    list-style: none;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    background-color: #979393;
    font-size: 12px;
    width: 300px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 1px;
}

.limited_item_2_bottom {
    width: 1000px;
    height: 270px;
    background-color: #fff;
    padding: 30px;
}

.limited_item_2_bottom_inside {
    display: flex;
    padding: 20px;
    border: 1px solid rgb(101, 53, 53);
}

.limited_item_2_bottom_left {
    background-color: rgb(101, 53, 53);
    height: 150px;
    width: 150px;
    padding-top: 45px;
    text-align: center;
    color: #fff;
}

.limited_item_2_bottom_left h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.limited_item_2_bottom_left p {
    margin: 0;
}

.limited_item_2_bottom_right {
    margin-left: 40px;
}

.limited_item_2_bottom_right h4 {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.limited_item_2_bottom_right p {
    color: rgb(101, 53, 53);
    margin-bottom: 0;
    font-size: 13px
}

/* award */

.award {
    height: 300px;
    margin-top: 0px;
    background-color: #ffffff;
    background-image: url(/img/coffee-beans-2803288_1920.jpg);
}

/* about */

.about {
    height: 3000px;
    background-color: #f2f2f2;
    padding-top: 80px;
}

.video {
    margin: 0 auto;
    width: 990px;
}

.about_us {
    width: 990px;
    margin: 0 auto;
    margin-top: 50px;
}

.about_us h3 {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    letter-spacing: 2px;
    color: rgb(101, 53, 53);
    background-color: #ffffff;
    width: 600px;
    height: 50px;
}

.thin {
    font-weight: lighter;
} 

.about_us p {
    font-size: 18px;
    letter-spacing:2px;
    text-align: center;
    line-height: 2;
    margin: 50px 0;
}

.about_img {
    width: 990px;
    margin: 0 auto;
}

.about_img img {
    width: 990px;
}

.concept {
    width: 990px;
    margin: 50px auto;
}

.concept h3 {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    letter-spacing: 2px;
    color: rgb(101, 53, 53);
    background-color: #ffffff;
    width: 350px;
    height: 50px;
}

.concept h4 {
    text-align: center;
    font-size: 37px;
    font-weight: lighter;
    margin: 60px 0;
    color: rgb(101, 53, 53);
}

.name_meaning {
    width: 700px;
    margin: 0 auto;
}

.name_meaning p {
    color: rgb(101, 53, 53);
}

.name_meaning h5 {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    line-height: 90px;
    letter-spacing: 2px;
    background-color: #979393;
    color: #fff;
    width: 600px;
    height: 90px;
    margin: 60px auto;
    outline: 1px solid #fff;
    outline-offset: -7px;
    box-shadow: 7px 5px 5px #b3b3b3;
}

.name_meaning_title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 40px;

}

.name_meaning_content {
    display: flex;
    justify-content: space-between;
}

.name_meaning_content p {
    font-size: 17px;
    margin: 0;
    font-weight: bold;
    line-height: 2.2;
}

.name_meaning_content img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.package_meaning {
    width: 700px;
    margin: 0 auto;
}

.package_meaning h5 {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    line-height: 90px;
    letter-spacing: 2px;
    background-color: #979393;
    color: #fff;
    width: 600px;
    height: 90px;
    margin: 60px auto;
    outline: 1px solid #fff;
    outline-offset: -7px;
    box-shadow: 7px 5px 5px #b3b3b3;
}

.package_meaning_content {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.package_meaning_content p{
    font-size: 17px;
    margin: 0;
    font-weight: bold;
    line-height: 2.4;
    color: rgb(101, 53, 53);
}

.package_meaning_content img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.buy_now {
    height: 300px;
    padding-top: 80px;
}

.buy_now_img {
    width: 450px;
    margin: 0 auto;
}

.buy_now_img img {
    width: 450px;
    box-shadow: 6px 5px 5px #cfcfcf;
}

/* features_2 */

.features_2 {
    height: 1700px;
    background-color: #f2f2f2;
}

.features_2_main {
    width: 990px;
    margin: 0 auto;
}

.features_2_main_img {
    width: 990px;
    height: 600px;
    object-fit: cover;
}

.features_2_content {
    width: 990px;
    margin: 0 auto;
    margin-top: 70px;
}

.features_2_content h3 {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    letter-spacing: 2px;
    color: rgb(101, 53, 53);
    background-color: #ffffff;
    width: 300px;
    height: 50px;
    margin-bottom: 60px;
}

.features_2_content_img {
    margin: 0 auto;
    width: 700px;
}

.features_2_content_img img {
    width: 650px;
    margin-bottom: 60px;
    box-shadow: 6px 5px 5px #cfcfcf;
}

/* フッター */

footer {
    height: 350px;
    background-color: #000;
    padding: 0 110px;
    padding-top: 50px;
}

.footer_top {
    display: flex;
}

.footer_top ul {
    margin: 0;
    padding: 0;
}

.footer_top li {
    color: #ffffff;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    list-style: none;
    font-size: 15px;
}

.footer_top_1 {
    margin-left: 100px;
    width: 315px;
}

.footer_top_1 li {
    margin-bottom: 25px;
}

.footer_top_2 li {
    margin-bottom: 25px;
}

.footer_middle {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    border-bottom: 1px solid #313030;
    padding-bottom: 25px;
}

.sns {
    color: #fff;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    list-style: none;
}

.sns h4 {
    margin: 0;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 20px;
}

.sns ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.sns li {
    list-style: none;
    margin-right: 40px;
    font-size: 12px;
}

.site {
    margin-top: 6px;
}

.site img{
    width: 250px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: #fff;
}

.footer_bottom span {
    font-size: 8px;
}

.footer_bottom ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.footer_bottom li {
    list-style: none;
    font-size: 10px;
    margin-left: 15px;
}